:root {
  --primary-bkg-color: #ffffff;
  --primary-text-color: #2e2f42;
  --body-text-color: #434455;
  --primary-brand-color: #4d5ae5;
  --accent-color: #404bbf;
  --success-messages-color: #31d0aa;
  --subtitle-text-color: #8e8f99;
  --hero-text-color: #ffffff;
  --footer-logo-color: #f4f4fd;
  --footer-text-color: #e7e9fc;
  --animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--primary-text-color);
  background-color: var(--primary-bkg-color);
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.contacts {
  font-style: normal;
}

/* ==========COMPONENTS========== */
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  color: var(--primary-text-color);
}

.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: var(--primary-text-color);
}

.text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-text-color);
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* ==========/COMPONENTS========== */

/* ==========HEADER========== */
.page-header {
  border-bottom: 1px solid var(--footer-text-color);
}

.page-header-container {
  display: flex;
  align-items: center;
}

.page-nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
}

.site-contacts {
  display: flex;
  align-items: center;
}

.logo-text {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
  padding-top: 24px;
  padding-bottom: 24px;
  color: var(--primary-text-color);
}

.logo-text-accent {
  color: var(--primary-brand-color);
}

.menu-item:not(:last-child) {
  margin-right: 40px;
}

.menu-link {
  position: relative;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  padding-bottom: 28px;

  transition: color 250ms var(--animation-timing-function);
}

.menu-link:hover,
.menu-link:focus,
.menu-link:active {
  color: var(--accent-color);
}

.menu-link-current {
  color: var(--accent-color);
}

.menu-link-current::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.contacts {
  margin-left: auto;
}

.site-contacts-item:not(:last-child):not(:last-child) {
  margin-right: 40px;
}

.contacts-link {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-text-color);

  transition: color 250ms var(--animation-timing-function);
}

.contacts-link:hover,
.contacts-link:focus,
.contacts-link:active {
  color: var(--accent-color);
}
/* ==========/HEADER========== */

/* ==========MAIN PAGE========== */
/* ==========Hero========== */
.hero-section {
  max-width: 1440px;
  padding-top: 188px;
  padding-bottom: 188px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  background-color: var(--primary-text-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/main-background-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  color: var(--hero-text-color);
}

.hero-title {
  width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
  margin-right: auto;
  margin-left: auto;
}

.modal-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  min-width: 169px;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  justify-content: center;
  color: var(--hero-text-color);
  background-color: var(--primary-brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
  border-radius: 4px;

  transition: background-color 250ms var(--animation-timing-function);
}

.modal-btn:hover,
.modal-btn:focus,
.modal-btn:active {
  background-color: var(--accent-color);
}
/* ==========/Hero========== */

/* ==========Our advantages========== */
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 24px;
}

.advantages-list-item {
  flex-basis: calc((100% - 72px) / 4);
}

.thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  margin-bottom: 8px;
  background-color: var(--footer-logo-color);
  border-radius: 4px;
}
/* ==========/Our advantages========== */

/* ==========What are we doing========== */
.examples-of-work {
  padding-bottom: 120px;
}

.examples-of-work-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 24px;
}

.examples-of-work-item {
  flex-basis: calc((100% - 48px) / 3);
}
/* ==========/What are we doing========== */

/* ==========Our Team========== */
.team-section {
  background-color: var(--footer-logo-color);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 24px;
}

.team-list-item {
  text-align: center;
  flex-basis: calc((100% - 72px) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-bkg-color);
}

.team-section-content {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-right: 16px;
  padding-left: 16px;
}

.social-networks-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-networks-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--primary-brand-color);
  border-radius: 50%;

  transition: background-color 250ms var(--animation-timing-function);
}

.social-networks-icon {
  fill: var(--footer-logo-color);
}

.social-networks-link:hover,
.social-networks-link:focus {
  background-color: var(--accent-color);
}

.team-section-content .text {
  margin-bottom: 8px;
}
/* ==========/Our Team========== */

/* ==========Customers========== */
.customers-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.customers-list-link {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 32px;
  padding-left: 32px;
  border: 1px solid var(--subtitle-text-color);
  border-radius: 4px;
  transition: border-color 250ms var(--animation-timing-function);
}

.customers-list-icon {
  fill: var(--subtitle-text-color);
  transition: fill 250ms var(--animation-timing-function);
}

.customers-list-link:hover,
.customers-list-link:focus {
  border-color: var(--accent-color);
}

.customers-list-link:hover .customers-list-icon,
.customers-list-link:focus .customers-list-icon {
  fill: var(--accent-color);
}
/* ==========/Customers========== */
/* ==========/MAIN PAGE========== */

/* ==========FOOTER========== */
.page-footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--primary-text-color);
}

.page-footer-container {
  display: flex;
}

.logo-text-footer-wrapper {
  margin-right: 120px;
}

.footer-social-networks-wrapper {
  margin-right: 80px;
}

.logo-text-footer {
  display: inline-block;
  padding: 0;
  margin: 0;
  padding-bottom: 16px;
  color: var(--footer-logo-color);
}

.footer-text {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
  color: var(--footer-text-color);
}

.footer-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: var(--hero-text-color);
}

.footer-social-networks-list {
  display: flex;
  gap: 16px;
}

.footer-social-networks-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--primary-brand-color);
  border-radius: 50%;

  transition: background-color 250ms var(--animation-timing-function);
}

.footer-social-networks-icon {
  fill: var(--footer-logo-color);
  transition: fill 250ms var(--animation-timing-function);
}

.footer-social-networks-link:hover,
.footer-social-networks-link:focus {
  background-color: var(--success-messages-color);
}

/* Footer form */
.footer-form-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.footer-form-input {
  border: 1px solid var(--primary-bkg-color);
  background-color: inherit;
  width: 264px;
  height: 40px;
  padding-left: 16px;
  margin-right: 24px;
  color: var(--hero-text-color);

  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: border-color 250ms var(--animation-timing-function);
}

.footer-form-input::placeholder {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);

  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--hero-text-color);
}

.footer-form-input:focus {
  outline: none;
  border-color: var(--primary-brand-color);
}

.footer-form-submit {
  align-self: center;
  font-family: inherit;

  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 165px;
  min-height: 40px;
  padding-top: 8px;
  padding-right: 24px;
  padding-bottom: 8px;
  padding-left: 24px;
  justify-content: center;
  color: var(--hero-text-color);
  background-color: var(--primary-brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
  border-radius: 4px;

  transition: background-color 250ms var(--animation-timing-function);
}

.footer-form-submit:hover,
.footer-form-submit:focus,
.footer-form-submit:active {
  background-color: var(--accent-color);
}

.footer-submit-icon {
  fill: var(--primary-bkg-color);
  margin-left: 16px;
}
/* ==========/FOOTER========== */

/* ==========PORTFOLIO PAGE========== */
.portfolio-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.filter-btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}

.filter-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
  color: var(--primary-brand-color);
  background-color: var(--footer-logo-color);
  border: 1px solid var(--footer-text-color);
  border-radius: 4px;

  transition: color 250ms var(--animation-timing-function),
    background-color 250ms var(--animation-timing-function),
    border-color 250ms var(--animation-timing-function),
    box-shadow 250ms var(--animation-timing-function);
}

.filter-btn:hover,
.filter-btn:focus,
.filter-btn:active {
  color: var(--hero-text-color);
  background-color: var(--accent-color);
  border-color: transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-btn-item:not(:last-child) {
  margin-right: 24px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-list-item {
  flex-basis: calc((100% - 72px) / 3);
}

.portfolio-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list-img-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translate(0, 100%);
  transition: transform 250ms var(--animation-timing-function);

  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 40px;
  padding-right: 32px;
  padding-left: 32px;
  color: var(--footer-logo-color);
  background-color: var(--primary-brand-color);
}

.portfolio-list-link:hover .overlay,
.portfolio-list-link:focus .overlay {
  transform: translate(0, 0);
}

.portfolio-list-content {
  border: 1px solid var(--footer-text-color);
  border-top: none;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-right: 16px;
  padding-left: 16px;
}
/* ==========/PORTFOLIO PAGE========== */

/* ==========MODAL WINDOW========== */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 100;
  opacity: 1;

  transition: opacity 250ms var(--animation-timing-function),
    visibility 250ms var(--animation-timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 576px;
  padding: 72px 24px 24px 24px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 250ms var(--animation-timing-function);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  width: 24px;
  height: 24px;
  padding: 0;

  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition: background-color 250ms var(--animation-timing-function),
    border-color 250ms var(--animation-timing-function);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--accent-color);
  border-color: transparent;
}

.modal-close-btn-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #2e2f42;

  transition: fill 250ms var(--animation-timing-function);
}

.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
  fill: var(--hero-text-color);
}

/* ==========/MODAL WINDOW========== */

/* ==========MODAL FORM========== */
.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: var(--primary-text-color);
}

.modal-form-field {
  margin-bottom: 8px;
}

.modal-form-field-input-descr {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
  color: var(--subtitle-text-color);
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  color: var(--primary-text-color);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: #fcfcfc;

  transition: border-color 250ms var(--animation-timing-function);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--primary-brand-color);
}

.modal-form-input-icon {
  position: absolute;
  display: block;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: var(--primary-text-color);

  transition: fill 250ms var(--animation-timing-function);
}

.modal-form-input:focus + .modal-form-input-icon {
  fill: var(--primary-brand-color);
}

.modal-form-comment {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  margin-bottom: 16px;
  resize: none;
  background-color: #fcfcfc;
  color: var(--primary-text-color);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;

  transition: border-color 250ms var(--animation-timing-function);
}

.modal-form-comment:focus {
  outline: none;
  border-color: var(--primary-brand-color);
}

.modal-form-comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-form-check-descr::before {
  content: "";
  display: block;
  cursor: pointer;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
}

.modal-form-check:checked + .modal-form-check-descr::before {
  background-color: var(--accent-color);
  border-color: transparent;
  background-image: url(../images/icon-check.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.modal-form-check:focus + .modal-form-check-descr::before {
  outline: 1px solid var(--primary-brand-color);
}

.modal-form-check-descr::before {
  margin-right: 8px;
}

.modal-form-check-descr {
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-bottom: 24px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--subtitle-text-color);
}

.user-policy-link {
  color: var(--primary-brand-color);
}

.modal-form-submit {
  align-self: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  min-width: 169px;
  min-height: 56px;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  justify-content: center;
  color: var(--hero-text-color);
  background-color: var(--primary-brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
  border-radius: 4px;

  transition: background-color 250ms var(--animation-timing-function);
}

.modal-form-submit:hover,
.modal-form-submit:focus,
.modal-form-submit:active {
  background-color: var(--accent-color);
}

